/*遮罩层*/
.black_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	filter: Alpha(opacity=50); /* IE */    
    -moz-opacity:0.5;    /* FF 锟斤拷要锟斤拷为锟剿硷拷锟斤拷锟较版本锟斤拷FF */
     opacity:0.5;    /* FF */
     background-color: black;
     z-index:1001;
}
/*内容层*/
.white_content {
	display: none;
	position: absolute;
	border:5px;
	border-color:fuchsia;
	top: 30%;
	left: 33%; 
	z-index: 1002; 
	
}

   
        .p_out{  
          width:200px;  
          height:12px;  
          margin:10px 0 0 0;  
          padding:1px;  
          font-size:10px;  
          border:solid #6b8e23 1px;  
        }  
          
        .p_in{  
          width:0%;  
          height:100%;  
          background-color:#6b8e23;  
          margin:0;  
          padding:0;  
        }  
          
        .dis{  
          margin:0;  
          padding:0;  
          text-align:center;  
          font-size:12px;  
          height:12px;  
          width:200px;  
        }  