.star_ul ul{float:left;}

.star_ul ul li{
	list-style-type:none;
	float:left;
}

.star_hover{
	float:left;
	height:15px;
	width:20px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/star01.gif);
}

.star_out{
	float:left;
	height:15px;
	width:20px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/star02.gif);
}