@charset "utf-8";
	.jcpt_yfgl{	padding:30px 0 20px;}
	.jcpt_yfgl .public_input input{width:180px;}
	.jcpt_yfgl .public_input select{min-width:190px;}
   
	.jcpt_yfgl_info {
	width:288px;
	height:102px;
	padding:5px 10px;
	margin-top:10px;
	border:1px solid #9c9c9c;
	overflow:auto;
}
	.jcpt_yfgl_info span,.jcpt_xtsz_xueke span,.jcpt_initialC span {
	width:15px;
	height:15px;
	display:inline-block;
	background:url(images/ico01_131230.png) no-repeat 0 -85px;
	margin:0 2px;
	vertical-align: text-bottom;
	overflow:auto;
}
	.jcpt_yfgl_info ul li {padding-right:16px;display:inline-block;}
	.jcpt_yfgl_juese p {padding-top:10px;}
	.jcpt_yfgl_juese .jcpt_yfgl_info {margin-left:70px;}

	.jcpt_yfgl_float01{height:390px;}
	.jcpt_yfgl_float01 .public_tab1 th{width:100px;}
	.jcpt_yfgl_float01 .public_tab1 td{width:300px;}
	
	.jcpt_yfgl_float01 .public_input input[type=text]{width:160px;}
	.jcpt_yfgl_float01 .public_input textarea{width:300px;height:50px;}

	.jcpt_yfgl_float02{height:172px;	overflow:auto;}

	.jcpt_zzgl{	padding:30px 0 1px;}
	.jcpt_zzgl strong{font-size:14px; vertical-align:middle;}
	.jcpt_zzgl .public_input input{width:180px; margin:0 20px 0 51px;}
	.jcpt_zzgl .public_input select{margin-right:15px;}
	.jcpt_zzgl .public_tab1	{width:720px;}

	.jcpt_zzgl_dc{width:600px; text-align:right;margin:0 auto;}

    .jcpt_zzgl_bmL{
	width:215px;
	height:500px;
	padding:25px 0 0 10px;
}
	.jcpt_zzgl_bmL .public_windows {
	width:80px;
	text-align:center;
	padding-bottom:5px;
}
    .jcpt_zzgl_bmL .layout{
	width:200px;
	height:450px;
	overflow:auto;
	border-right:1px dashed #c1bfc0;
	padding:10px 0 0 15px;
}
    .jcpt_zzgl_bmL p.title{
	background:url(images/ico01_131230.png) no-repeat 0 -132px;
	font-size:14px;
	font-weight:bold;
	padding:0 0 5px 25px;
}
    .jcpt_zzgl_bmL img{ vertical-align: text-bottom; margin:0 3px;}

    .jcpt_zzgl_bmR{
	width:510px;
	height:470px;
	padding-top:55px;
	float:right;
}
    .jcpt_zzgl_bmR .public_tab2{ margin:10px 0;}
	.jcpt_zzgl_bmR .public_tab2 select{ width:160px;}
	.jcpt_zzgl_bmR .nextpage { text-align:left;}

    .jcpt_zzgl_float{
	width:440px;
	padding-top:10px;
	margin:0 auto;
}
	.jcpt_zzgl_float input[type=text]{width:160px;}
	.jcpt_zzgl_float textarea{width:160px;height:170px; margin-top:0;}
	.jcpt_zzgl_float select{width:170px;}

    .jcpt_zzgl_float .one{
	width:180px;
	height:280px;
	float:left;
}
    .jcpt_zzgl_float .two{
	width:80px;
	height:170px;
	padding-top:110px;
	float:left;
}
    .jcpt_zzgl_float .three{
	width:180px;
	height:192px;
	background:url(images/bg06_131126.png) no-repeat 0 67px;
	padding-top:88px;
	float:left;
}
    .jcpt_xtsz_xueke{padding:0 0 10px 60px;}
	.jcpt_xtsz_xueke ul li{
	width:110px;
	padding:10px 25px 10px 0;
	display:inline-block;
}
	.jcpt_xtsz_xueke input{width:80px;}

	.jcpt_xtsz_logo{
	width:690px;
	height:300px;
	padding-top:25px;
	margin:0 auto;
}
	.jcpt_xtsz_logo .left{
	width:352px;
	height:127px;
	border:1px solid #9c9c9c;
	margin-top:40px;
}
	.jcpt_xtsz_logo .right{
	width:253px;
	height:160px;
	padding-top:15px;
	float:right;
}
	.jcpt_xtsz_logo .right strong{font-size:14px;}
	.jcpt_xtsz_logo .right p{margin-top:10px;}

    .jcpt_xtsz_logo .right p.logo{
	width:253px;
	height:64px;
	padding:4px;
	position:relative;
}
	.jcpt_xtsz_logo .right p.logo span{
	width:261px;
	height:72px;
	position: absolute;
	z-index:99;
	background: url(images/bg01_131230.png) no-repeat;
	display: inline-block;
	top:0;
	left:0;
}
	.jcpt_sytj{
	width:960px;
	padding:0 20px 10px;
}
	.jcpt_sytj div.tab_layout1{height:575px;}
	.jcpt_sytj div.tab_layout2{width:960px; overflow:auto; overflow-y:hidden; margin-bottom:10px;}
	.jcpt_sytj div.tab_layout2 table.public_tab2{ margin:10px 0;}

	.jcpt_initial{
	width:510px;
	height:360px;
	background: url(images/bg09_131230.png) no-repeat;
	padding-top:39px;
	position:relative;
}
	.jcpt_initial .up,.jcpt_initial .next{
	width:51px;
	height:101px;
	position: absolute;
	top:150px;
}
	.jcpt_initial .up a,.jcpt_initial .next a{
	width:51px;
	height:101px;
	background: url(images/bg10_131230.png) no-repeat;
	display:inline-block;
}
	.jcpt_initial .next{right:0}
	.jcpt_initial .next a:hover{ background-position:0 -102px;}
	.jcpt_initial .next a:active{ background-position:-52px 0;}

	.jcpt_initial .up{left:0}
	.jcpt_initial .up a{ background-position:-52px -102px;}
	.jcpt_initial .up a:hover{ background-position:-104px 0;}
	.jcpt_initial .up a:active{ background-position:-104px -102px;}

	.jcpt_initial ul.nav{width:450px;height:40px;margin:0 auto;}
	.jcpt_initial ul.nav li{
	width:90px;
	height:24px;
	background: url(images/bg10_131230.png) no-repeat -156px -75px;
	float:left;
	font-size:12px;
	font-weight:bold;
	line-height:26px;
	color:#fff;
	text-align:center;
}
	.jcpt_initial ul.nav li:first-child{background-position:-156px 0;}
	.jcpt_initial ul.nav li:first-child.crumb1{background-position:-156px -50px;}
	.jcpt_initial ul.nav li:first-child.crumb2{background-position:-156px -25px;}
	.jcpt_initial ul.nav li.crumb1{background-position:-156px -125px;}
	.jcpt_initial ul.nav li.crumb2{background-position:-156px -100px;}

	.jcpt_initialC{
	width:420px;
	min-height:230px;
	padding:10px 15px 5px 24px;
	margin:0 auto;
}
	.jcpt_initialC p{padding:25px 0 0 60px;}
	.jcpt_initialC strong{font-size:14px;color:#0d799b;}
	.jcpt_initial h3{font-size:12px;color:#808080;padding:10px 0 15px 15px;}
	.jcpt_initial pre{
	font-size:16px;
	color:#0d799b;
	padding:45px 0 45px;
	text-align:center;
	line-height:2em;
	font-weight:bold;
}
    .jcpt_initialC ul{width:390px; min-height:150px;margin:0 auto;}
	.jcpt_initialC ul li{
	width:73px;
	padding:10px 0;
	display:inline-block;
}
	.jcpt_initialC ul li input{width:48px;}
	.jcpt_initialC ul li span {margin:0 0;}
	.jcpt_initialC .tishi {
	width:260px;
	height:25px;
	margin:0 0 -25px 143px;
	color:red;
}
	.jcpt_initial_logo {width:352px;margin:10px auto 0;}
	.jcpt_initial_logo p{padding:5px 0 0 0;}
	.jcpt_initial_logo input[type=file]{width:285px;}
	.jcpt_initial_logo .top{
	width:352px;
	height:127px;
	border:1px solid #9c9c9c;
	margin-top:10px;
}
	.jcpt_initial_logo .bottom{
	width:253px;
	height:64px;
	border:1px solid #9c9c9c;
	margin-top:10px;
}
    .jcpt_initial_logo .f_right {width:80px; text-align:center; font-weight:bold;padding-top:30px;}
	.jcpt_initial_an{
	width:229px;
	height:30px;
	background: url(images/bg10_131230.png) no-repeat 0 -204px;
	display: inline-block;
}