@charset "utf-8";
   *{margin:0px; padding:0px;}
   *:focus {outline: none;}

    body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0 none;}
    body{background:#fff url(images/bg01_131230.jpg) no-repeat top center;font:12px/22px '宋体',Tahoma,Helvetica,Arial,sans-serif;color:#8d8c8c;overflow-y:scroll!important;overflow-y:auto;}

    ul,ol{list-style-type:none;}
    select,input{vertical-align:middle;	font-size: 12px;}
	
    a{text-decoration:none; cursor:pointer;}
    a:link,a:visited{color:#8d8c8c;}
    a:hover,a:active,a:focus{color:#34a4c6; text-decoration: none;}

	.clearit{clear:both;}
	.fix{zoom:1;}
    .fix:after{display:block; content:'clear'; clear:both; line-height:0; visibility:hidden;}
	.hide{ display:none;}
	
	.center{
	width: 1000px;
	overflow: visible;
	margin: 0px auto;
}
    .clear {
	clear: both;
	display: block;
	font: 0px/0px sans-serif;
}
   .wrapline{
    word-wrap:break-word;
    word-break:break-all;
    white-space:normal;
}
    .f_right {float: right;}
    .f_left {float: left;}
	.t_c{text-align:center;}
	.t_l{text-align:left;}
	.t_r{text-align:right;}
	
	h4{font-size:14px; margin-left:60px;}
	h4 span{ font-weight:normal; font-size:12px;margin-left:15px;color: #19a0ca;}
	h4 a:link, h4 a:visited{color:#19a0ca;}
	h4 a:hover,h4 a:active{color:#22aed9;}
	h5{ border-bottom: 1px dashed #cdcdcd;margin: 10px auto;}
	h6{ border-bottom: 1px solid #cfcfcf;margin: 15px auto 20px;}

	.p_t_10 {padding-top: 10px;}
	.p_t_20 {padding-top: 20px;}
	.p_t_30 {padding-top: 30px;}
	.p_b_10 {padding-bottom: 10px;}
	.p_tb_10 {padding: 10px 0;}

	.m_a {margin: 0 auto;}
	.m_t_5 {margin-top: 5px;}
	.m_t_15 {margin-top: 15px;}
	.m_r_15 {margin-right: 15px;}
	.m_lr_10 {margin: 0 10px;}

	.w30{width:30px;}
	.w40{width:40px;}
	.w50{width:50px;}
	.w60{width:60px;}
	.w80{width:80px;}
	.w85{width:85px;}
	.w90{width:90px;}
	.w100{width:100px;}
	.w110{width:110px;}
	.w120{width:120px;}
	.w130{width:130px;}
	.w140{width:140px;}
	.w150{width:150px;}
	.w160{width:160px;}
	.w170{width:170px;}
	.w180{width:180px;}
	.w190{width:190px;}
	.w200{width:200px;}
	.w220{width:220px;}
	.w240{width:240px;}
	.w270{width:270px;}
	.w300{width:300px;}
	.w310{width:310px;}
	.w320{width:320px;}
	.w350{width:350px;}
	.w400{width:400px;}
	.w410{width:410px;}
	.w430{width:430px;}
	.w440{width:440px;}
	.w450{width:450px;}
	.w500{width:500px;}
	.w590{width:590px;}
	.w600{width:600px;}
	.w630{width:630px;}
	.w650{width:650px;}
	.w700{width:700px;}
	.w720{width:720px;}
	.w770{width:770px;}
	.w750{width:750px;}
	.w800{width:800px;}
	.w820{width:820px;}
	.w860{width:860px;}
	.w880{width:880px;}
	.w900{width:900px;}

	.h90{height:90px;}
	.h210{height:210px;}

	.public_title{
	width: 944px;
	height: 30px;
	background: url(images/bg02_131230.png) no-repeat 0 -100px;
	font-size:14px;
	font-weight:bold;
	color:#247ba6;
	line-height:30px;
	padding:2px 28px;
	margin:0 auto;
}
	table tr.trbg1{background: #f5fcfd;}
	table td.v_c{vertical-align:middle;}
	table.black td{color:#000;}

    .public_tab1{border-collapse:collapse;line-height: 1.8em; margin:0 auto 15px;}
    .public_tab1 th,.public_tab1 td{padding-top:14px; vertical-align:top;}
	.public_tab1 th{ font-size:14px; text-align:left;}
	.public_tab1 p.text_info {text-align:right;color:#8d8c8c;padding:3px 0 5px;}
	.public_tab1 p.text_info b {width:40px; display:inline-block; font-weight:normal; vertical-align:middle; text-align:left;}
	.public_tab1 p.text_info span { margin:0 5px 5px;}
	
	.public_tab2 {
	border-collapse:collapse;
	line-height: 1.8em;
	text-align:center;
	margin:10px auto;
	background:#FFF;
	color:#000;
}
    .public_tab2 td,.public_tab2 th{
	border:1px solid #c9c9c9;
	padding:7px 0 2px;
	vertical-align:top;
}
    .public_tab2 th {color:#757575; background:#b4dde2 url(images/bg07_131230.png) repeat-x;vertical-align:middle; min-height:30px;}
    .public_tab2 tr:hover,.public_tab2 tr:visited{background:#e3fcff;}
	.public_tab2 td p{padding:0 12px;text-align:left;}
	.public_tab2 caption {text-align:left; font-weight:bold;font-size:14px; padding:5px 0;color:#8d8c8c;}
	.public_tab2 th span { font-weight:normal;}
    .public_tab2 a:link,.public_tab2 a:visited{color:#000;}
    .public_tab2 a:hover,.public_tab2 a:active{color:#3297a3; text-decoration: none;}
	.public_tab2 a.an_small{color:#fff;}
	.public_tab2 td p.ico{padding:0 12px 0 25px;text-align:left; position:relative;}
	.public_tab2 td p.ico b{position: absolute;top:0; left:0;}
	
	.public_tab3 {
	border-collapse:collapse;	
	line-height: 1.8em;
	text-align:center;
	margin:5px auto;
}
    .public_tab3 th{ font-size:14px;}
    .public_tab3 th,.public_tab3 td{
	border: 1px solid #c5c5c5;
	padding:4px 0 1px;
	vertical-align:top;
}
    .public_tab3 td p{padding:0 5px;text-align:left;}

    .public_input input[type=text],.public_input input[type=password]{
	height:16px;
	padding: 3px 4px 2px;
	font-size:12px;
	line-height:16px;
	border: 1px double #9c9c9c;
	color:#8d8c8c;
}
    .public_input textarea{
	padding:4px 4px 2px;
	font-size:12px;
	line-height:24px;
	border: 1px double #9c9c9c;
	overflow: auto;
	vertical-align: top;
	color:#8d8c8c;
}
    .public_input select{height:24px;}
	.public_input input[type=file]{height:21px; padding-top:3px;}

	.public_list1 li{
	min-width:75px;
	padding:0 20px 5px 0;
	display:inline-block;
}
	.public_list2 li{padding:0 20px 4px 0;display:inline-block;}
	.public_list2 a:link,.public_list2 a:visited{color:#000;}
    .public_list2 a:hover,.public_list2 a:active{color:#3297a3;}

	ul.public_list3{margin:15px 0;} 
	ul.public_list3 li{padding:0 0 5px 24px;display:inline-block;} 
	
    .public_windows {
	width:470px;
	border: 1px solid #0d799b;
	padding:4px 4px 14px;
	background-color:#fff;
}
    .public_windows h3 {
	font-size:14px;
	color:#0d799b;
	text-align:center;
	padding:6px 0 ;
	font-weight:bold;
}
    .public_windows h3 a {
	width:18px;
	height:18px;
	background: url(images/ico01_131230.png) no-repeat 0 -106px;
	display:inline-block;
	float:right;
	margin:-10px -4px 0 0;
}
    .font_strong{font-weight: bold;}
	
	.font-white {color: white;}
	.font-white a:link,.font-white a:visited,a.font-white:link,a.font-white:visited{color: white;}
	.font-white a:hover,.font-white a:active,a.font-white:hover,a.font-white:active{color:yellow;}

    .font-red {color:#F00;}
    .font-red a:link,.font-red a:visited,a.font-red:link,a.font-red:visited{color:#F00;}
    .font-red a:hover,.font-red a:active,a.font-red:hover,a.font-red:active{color: #F00;}

    .font-gray {color:#bcbcbc;}
	.font-gray a:link,.font-gray a:visited,a.font-gray:link,a.font-gray:visited {color: #bcbcbc;}
    .font-gray a:hover,.font-gray a:active,a.font-gray:hover,a.font-gray:active {color: #35aebd;}

    .font-darkgray {color:#8d8c8c;}
	.font-darkgray a:link,.font-darkgray a:visited,a.font-darkgray:link,a.font-darkgray:visited{color: #8d8c8c;}
    .font-darkgray a:hover,.font-darkgray a:active,a.font-darkgray:hover,a.font-darkgray:active{color: #34a4c6;}

	.font-black {color:#000;}
	.font-black a:link,.font-black a:visited,a.font-black:link,a.font-black:visited {color: #000;}
    .font-black a:hover,.font-black a:active,a.font-black:hover,a.font-black:active  {color: #35aebd;}

    .font-blue {color:#3297a3;}
    .font-blue a:link,.font-blue a:visited,a.font-blue:link,a.font-blue:visited{color: #3297a3;}
    .font-blue a:hover,.font-blue a:active,a.font-blue:hover,a.font-blue:active{color:#35aebd;}
	
	.font-darkblue {color:#257aa7;}
    .font-darkblue a:link,.font-darkblue a:visited,a.font-darkblue:link,a.font-darkblue:visited{color: #257aa7;}
    .font-darkblue a:hover,.font-darkblue a:active,a.font-darkblue:hover,a.font-darkblue:active{color:#35aebd;}

	.an_small,.an_small_long{
	height:28px;
	background: url(images/bg08_131230.png) no-repeat 0 -59px;
	text-align: center;
	line-height:20px;
	font-size:12px;
	font-weight:normal;
	padding-top:4px;
	display: inline-block;
}
	.an_small{width:80px;}
	.an_small_long{width:103px;background-position:0 -123px;}
    a.an_small,a.an_small_long,a.an_big,a.an_big_long{color:#fff;}
	a.an_small:hover{background-position:0 -91px;}
	a.an_small_long:hover{background-position:0 -155px;}

	.an_big,.an_big_long{
	height:32px;
	background: url(images/bg08_131230.png) no-repeat 0 -187px;
	text-align: center;
	line-height:20px;
	font-size:14px;
	font-weight:normal;
	padding-top:7px;
	display: inline-block;
	margin-bottom:10px;
	vertical-align: middle;
}
	.an_big{width:91px;}
	.an_big_long{width:160px;background-position:0 -265px;}
	a.an_big:hover{background-position:0 -226px;}
	a.an_big_long:hover{background-position:0 -304px;}

	.an_public1{
	width:68px;
	height:21px;
	background: url(images/bg10_131230.png) no-repeat -156px -150px;
	text-align: center;
	line-height:22px;
	font-size:12px;
	font-weight:normal;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
}
	a.an_public1{color:#fff;}
	a.an_public1:hover{background-position:-156px -172px;}

	.an_public2,.an_public3{
	width:54px;
	height:21px;
	background: url(images/bg08_131230.png) no-repeat -107px -123px;
	text-align: center;
	line-height:22px;
	font-size:12px;
	font-weight:normal;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
}
	a.an_public2,a.an_public3{color:#fff;}
	a.an_public2:hover{background-position:-107px -145px;}
	a.an_public3{background-position:-107px -167px;}
	a.an_public3:hover{background-position:-107px -189px;}
	
	.an_gray{
	width:83px;
	height:23px;
	background: url(images/bg08_131230.png) no-repeat -83px -59px;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	line-height:20px;
	font-size:14px;
	font-weight:normal;
	padding-top:5px;
	display: inline-block;
	margin-bottom:12px;
	vertical-align: middle;
}
	.an_lightblue{
	width:54px;
	height:19px;
	background: url(images/bg08_131230.png) no-repeat -112px 0;
	text-align: center;
	line-height:20px;
	font-size:12px;
	padding-top:2px;
	display: inline-block;
	margin-right:4px;
	color:#2ca9a6;
	vertical-align:middle;
}
    a.an_lightblue,a.an_lightblue:visited{color:#2ca9a6;}
    a.an_lightblue:hover,a.an_lightblue:active{color:#15d0cc;}
	
	a.an_search{
	width:35px;
	height:25px;
	background: url(images/bg08_131230.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
}
	a.an_search:hover{background-position:-35px 0;}
	a.an_search:active{background-position:-70px 0;}

	.ico_more{
	display: inline-block;
	width:43px;
	height:8px;
	background:url(images/bg08_131230.png) no-repeat -117px -100px;
	margin-top:7px;
}
	.ico01,.ico12,.ico03,.ico04,.ico05,.ico06,.ico11,.ico_delete{
	width:17px;
	height:17px;
	background: url(images/ico01_131230.png) no-repeat 0 -163px;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
    .ico12{background-position:0 -187px;}
	.ico03{background-position:0 -209px;}
	.ico04{background-position:0 -231px;}
	.ico05{background-position:-18px -209px;}
	.ico06{width:15px;background-position:0 -253px; margin:0;}
	.ico_delete{width:15px; height:15px;background-position:-2px -87px; margin:0 2px;}

	.ico07,.ico08,.ico09,.ico10{
	width:16px;
	height:16px;
	background: url(images/ico02_131230.png) no-repeat -116px 0;
	display: inline-block;
	vertical-align:middle;
	margin-right:5px;
}
	.ico08{background-position:0 -66px; width:20px;}
	.ico09{background-position:-116px -17px;}
	.ico10{background-position:-116px -34px;}
	.ico11{background-position:0 -272px;}

	.ico02,.ico13,.ico14,.ico15,.ico16,.ico17,.ico18,.ico19,.ico20,.ico21,.ico22,.ico23,.ico24,.ico24b,.ico25,.ico_star1,.ico_star2,.ico_star3{
	width:17px;
	height:17px;
	background: url(images/ico03_131230.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
    .ico02{background-position:-100px 0;}
	.ico13{width:21px;height:12px;background-position:0 -24px;margin:0 5px 4px;}
	.ico14{width:20px;height:23px;margin:0 5px 5px 0;}
	.ico15{width:22px;height:23px;background-position:-21px 0;margin:0 5px 5px 5px;}
	.ico16{width:18px;background-position:-44px 0;}
	.ico17{width:18px;background-position:-44px -18px;}
	.ico18{width:18px;background-position:-63px 0;}
	.ico19{width:25px;background-position:-63px -18px;}
	.ico20{background-position:-82px 0;}
	.ico21{background-position:-89px -18px;}
	.ico22{background-position:-107px -18px;}
	.ico23{background-position:-118px 0;}
	.ico24{background-position:-125px -18px;}
	.ico24b{background-position:-23px -24px;}
	.ico25{background-position:-136px 0;}
	.ico_star1{background-position:-143px -18px;margin:0 1px;}
	.ico_star2{background-position:-154px 0;margin:0 1px;}
	.ico_star3{background-position:-161px -18px;margin:0 1px;}

	.ico26,.ico27,.ico28,.ico29,.ico30,.ico31,.ico32,.ico33,.ico34,.ico35,.ico36,.ico37,.ico_time{
	width:16px;
	height:17px;
	background: url(images/ico03_131230.png) no-repeat -304px 0;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
	.ico27{background-position:-219px 0;}
	.ico28{width:19px;background-position:-179px -17px;}
	.ico29{width:18px;background-position:-172px 0;}
	.ico30{width:19px;background-position:-191px 0;}
	.ico31{width:19px;background-position:-199px -16px;}
	.ico32{background-position:-219px -17px;}
	.ico33{background-position:-236px 0;}
	.ico34{background-position:-236px -17px;}
	.ico35{background-position:-287px 0;}
	.ico36{background-position:-287px -17px;}
	.ico37{background-position:-304px -17px;}
	.ico_time{background-position:-253px 0;}

	.ico38,.ico39,.ico40,.ico41,.ico42,.ico43,.ico44,.ico45,.ico46,.ico47,.ico48a,.ico48b,.ico49a,.ico49b,.ico49c{
	width:17px;
	height:17px;
	background: url(images/ico04_131230.png) no-repeat -19px 0;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
	.ico39{background-position:-37px 0;}
	.ico40{background-position:-55px 0;}
	.ico41{background-position:-138px 0;}
	.ico42{background-position:-156px 0;}
	.ico43{background-position:-174px 0;}
	.ico44{width:18px;background-position:0 0;}
	.ico45{width:18px;background-position:-119px 0;}
	.ico46{width:22px;background-position:-73px 0;}
	.ico47{width:22px;background-position:-96px 0;}
	.ico48a{width:11px;height:16px;background-position:-277px 0;}
	.ico48b{width:11px;height:16px;background-position:-294px 0;}
	.ico49a{width:7px;height:11px;background-position:-311px 0;}
	.ico49b{width:7px;height:11px;background-position:-328px 0;}
	.ico49c{width:7px;height:11px;background-position:-911px 0;}

	.ico50,.ico51,.ico52,.ico53,.ico54,.ico55,.ico56,.ico57,.ico58a,.ico58b,.ico59,.ico60,.ico_doc1,.ico_doc2,.ico_pdf1,.ico_pdf2,.ico_xls1,.ico_xls2,.ico_txt1,.ico_txt2,.ico_ppt1,.ico_ppt2,.ico_rtf1,.ico_rtf2,.ico_vsd1,.ico_vsd2,.ico_mp31,.ico_mp32,.ico_swf1,.ico_swf2,.ico_mp41,.ico_mp42,.ico_jpg1,.ico_jpg2,.ico_wps1,.ico_wps2,.ico_other1,.ico_other2{
	width:17px;
	height:17px;
	background: url(images/ico04_131230.png) no-repeat -192px 0;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
	.ico51{background-position:-209px 0;}
	.ico52{background-position:-226px 0;}
	.ico53{background-position:-243px 0;}
	.ico54{background-position:-260px 0;}
	.ico55{background-position:-345px 0;}
	.ico56{background-position:-362px 0;}
	.ico57{background-position:-379px 0;}
	.ico58a{background-position:-770px 0;}
	.ico58b{background-position:-787px 0;}
	.ico59{background-position:-804px 0;}
	.ico60{background-position:-855px 0;}
	.ico_doc1{background-position:-396px 0;}
	.ico_doc2{background-position:-413px 0;}
	.ico_pdf1{background-position:-430px 0;}
	.ico_pdf2{background-position:-447px 0;}
	.ico_xls1{background-position:-464px 0;}
	.ico_xls2{background-position:-481px 0;}
	.ico_txt1{background-position:-498px 0;}
	.ico_txt2{background-position:-515px 0;}
	.ico_ppt1{background-position:-532px 0;}
	.ico_ppt2{background-position:-549px 0;}
	.ico_rtf1{background-position:-566px 0;}
	.ico_rtf2{background-position:-583px 0;}
	.ico_vsd1{background-position:-600px 0;}
	.ico_vsd2{background-position:-617px 0;}
	.ico_mp31{background-position:-634px 0;}
	.ico_mp32{background-position:-651px 0;}
	.ico_swf1{background-position:-668px 0;}
	.ico_swf2{background-position:-685px 0;}
	.ico_mp41{background-position:-702px 0;}
	.ico_mp42{background-position:-719px 0;}
	.ico_jpg1{background-position:-736px 0;}
	.ico_jpg2{background-position:-753px 0;}
	.ico_wps1{background-position:-821px 0;}
	.ico_wps2{background-position:-838px 0;}
	.ico_other1{background-position:-873px 0;}
	.ico_other2{background-position:-890px 0;}

	.ico61,.ico62,.ico63,.ico64,.ico65,.ico66,.ico67,.ico68,.ico69,.ico70,.ico71,.ico72,.ico73,.ico74,.ico75,.ico76{
	width:17px;
	height:17px;
	background: url(images/ico05_131230.png) no-repeat 0 0;
	display: inline-block;
	vertical-align:middle;
	margin:0 5px;
}
	.ico61{width:20px;}
	.ico62{width:21px;background-position:-21px 0;}
	.ico63{width:23px;background-position:-43px 0; margin:0 0 0 5px;}
	.ico64{width:23px;background-position:-67px 0; margin:0 0 0 5px;}
	.ico65{background-position:-91px 0;}
	.ico66{background-position:-108px 0;}
	.ico67{background-position:-125px 0;}
	.ico68{background-position:-142px 0;}
	.ico69{height:18px;background-position:-158px 0;}
	.ico70{background-position:-175px 0;}
	.ico71{background-position:-193px 0;}
	.ico72{background-position:-213px 0;}
	.ico73{width:13px;background-position:-231px 0;}
	.ico74{background-position:-248px 0;}
	.ico75{background-position:-265px 0;}
	.ico76{background-position:-282px 0;}