.star_ul ul{float:left;}

.star_ul ul li{
	width:40px;
	list-style-type:none;
	float:left;
}

.star_hover{
	float:left;
	height:15px;
	width:40px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/star04_130423.png) no-repeat 50% 50%; ;
}

.star_out{
	float:left;
	height:15px;
	width:40px;
	overflow:hidden;
	display:inline-block;
	background:url(../images/star05_130423.png) no-repeat 50% 50%; ;
}