@charset "utf-8";
    img{vertical-align:middle;}
    .F_right {float: right;}
    .F_left {float: left;}
	
    .F_b {font-weight: bold;}
	.F14 {font-size: 14px;}
	.F16 {font-size: 16px;}
	.F20 {font-size: 20px;}
	
	.L20 {line-height: 20px;}
	.L25 {line-height: 25px;}

	.F_gray {color: #B6B6B6;}
	
    .F_red {color: #FE0101;}
    a.F_red:link,a.F_red:visited,a.F_red:active{color: #FE0101; }
    a.F_red:hover{ color: #FE0101; text-decoration: none;}
	
	.F_blue1{color: #2B89D7;}
	a.F_blue1:link,a.F_blue1:visited,a.F_blue1:active{color: #2B89D7; }
    a.F_blue1:hover{ color: #0006FF; text-decoration: none;}

    a.F_blue:link,a.F_blue:visited,a.F_blue:active{color: #0006FF; }
    a.F_blue:hover{ color: #0006FF; text-decoration: none;}
	
	.F_green {color: #019C00;}
	.F_deepred {color: #D52623;}
	
    .Pt2{padding-top: 2px;}
	.Pt5{padding-top: 5px;}
	.Ptb10{padding: 10px 0;}
    .Pt10{padding-top: 10px;}
	.Pt15{padding-top: 15px;}
	.Pt20{padding-top: 20px;}
	.Pt35{padding-top: 35px;}
	.Pt70{padding-top: 70px;}
	.Pr10{padding-right: 10px;}
	.Pr30{padding-right: 30px;}
	.Pr40{padding-right: 40px;}
	.P10{padding: 10px;}
	.Plr5{padding:0 5px;}
	.Plr10{padding:0 10px;}
	.Plr20{padding:0 20px;}
	.Pl20{padding-left: 20px;}
	.Pl40{padding-left: 40px;}
	.Pl50{padding-left: 50px;}
	.Pl70{padding-left: 70px;}
	.Pl85{padding-left: 85px;}
	.Pl135{padding-left: 135px;}
    .Pl150{padding-left: 150px;}
	.Pb10{padding-bottom: 10px;}
	.Pb20{padding-bottom: 20px;}
	.Mt5{margin-top:5px;}
	.Mr6{margin-right:6px;}
	.Mr12{margin-right:12px;}
	.Ml6{margin-left:6px;}
	.Mt10{margin-top:10px;}
	.Mt20{margin-top:20px;}
	.Mb10{margin-bottom:10px;}
	.Mtb10{margin:10px 0;}
	.M0{margin:0 auto;}
	.Ml10{margin-left:10px;}
	
	.W30{width: 30px;}
	.W40{width: 40px;}
	.W55{width: 55px;}
	.W60{width: 60px;}
	.W65{width: 65px;}
	.W70{width: 70px;}
	.W75{width: 75px;}
	.W81{width: 81px;}
	.W90{width: 90px;}
	.W100{width: 100px;}
	.W110{width: 110px;}
	.W120{width: 120px;}
	.W130{width: 130px;}
	.W140{width: 138px;}
	.W149{width: 150px;}
	.W150{width: 150px;}
	.W160{width: 160px;}
	.W170{width: 170px;}
	.W180{width: 180px;}
	.W200{width: 200px;}
	.W220{width: 220px;}
	.W239{width: 239px;}
	.W260{width: 260px;}
	.W295{width: 295px;}
	.W300{width: 300px;}
	.W310{width: 310px;}
	.W320{width: 320px;}
	.W330{width: 320px;}
	.W370{width: 370px;}
	.W380{width: 380px;}
	.W403{width: 403px;}
	.W445{width: 445px;}
	.W460{width: 460px;}
	.W500{width: 500px;}
	.W525{width: 525px;}
	.W546{width: 546px;}
	.W555{width: 555px;}
	.W590{width: 590px;}
	.W616{width: 616px;}
	.W650{width: 650px;}
	.W672{width: 672px;}
	.W696{width: 696px;}
	.W729{width: 729px;}
	.W770{width: 770px;}
	.W800{width: 800px;}
	.W810{width: 810px;}
	.W826{width: 826px;}
	.W840{width: 840px;}
	.W921{width: 921px;}
	.W974{width: 974px;}
	
	.H20{height: 20px;}
	.H25{height: 25px;}
	.H30{height: 30px;}
	.H60{height: 60px;}
	.H75{height: 75px;}
	.H100{height: 100px;}
	.H130{height: 130px;}
	.H150{height: 150px;}
	.H200{height: 200px;}
	.H220{height: 220px;}
	.H270{height: 270px;}
	.H280{height: 280px;}
	.H290{height: 290px;}
	.H320{height: 320px;}
	.H340{height: 340px;}
	.H360{height: 360px;}
	.H390{height: 390px;}
	.H460{height: 460px;}
	.H500{height: 500px;}
	.H600{height: 600px;}
	
	.border_b{border-bottom:1px solid #B8B5B0;}
	.Tl{text-align: left;}
	.Tc{text-align: center;}
	.Tr{text-align: right;}
	.Vt{vertical-align: top;}

	.T22{line-height: 22px;}
	
	.spanBlock{
	display:inline-block;
	vertical-align: text-bottom;
}
	.display{display:inline-block;}
	
/*公用 结束*/
	#nav{
	width: 956px;
	height:52px;
	background: url(images/bg01_100618.gif) no-repeat;
	line-height:14px;
	padding: 8px 22px 0;
	margin: 0px auto;
}
	#footer{
	width: 1000px;
	height:42px;
	background: url(images/bg02_121022.jpg) repeat-x;
	padding-top:14px;
	text-align: center;
	margin:0 auto;
	clear:both;
	color:#4f4e4b;
	font-weight:bold;
}
	.content{
	width: 974px;
	margin: 0px auto;
	border:1px solid #E8E8E8;
	border-top:none;
	padding:10px 12px;
	line-height:normal;
}
	.TabLayout,.TabLayout1{
	overflow-x: auto;
	margin:10px 0;
	padding-bottom:5px;
	+padding-bottom:20px;
}
    .TabLayout{width: 974px;height: 100%;}

	.TitleLayout,.TitleLayout1,.TitleLayout2,.TitleLayout3,.TitleLayout4{
	height:19px;
	padding-top:4px;
	background: url(images/bg01_100618.gif) no-repeat 
}
	.TitleLayout{background-position:0 -62px;width: 974px;}
	.TitleLayout1{background-position:0 -105px;width: 974px;}
	.TitleLayout2{background-position:0 -148px;width: 729px;}
	.TitleLayout3{background-position:-737px -148px;width:239px;}
	.TitleLayout4{background-position:0 -181px;width:826px;}
	
	.TitleWhite,.TitleWhite1,.TitleWhite2{
	padding-right:42px;
	text-align:center;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	float:left;
	line-height: 18px;
}
    .TitleWhite{width:130px;}
    .TitleWhite1{width:190px;}
	.TitleWhite2{width:87px; padding-right:30px;}

	table.Tab {
    line-height: 22px;
	border:1px solid #B8B5B0;
	border-collapse:collapse;
}
    table.Tab th,table.Tab td{padding-top:3px;}
    table.Tab th {border:1px solid #B8B5B0; background:#F1F1F1;}
    table.Tab td {border:1px dashed #B8B5B0;vertical-align: top;}
	
	table.W80 td,table.W80 th{width: 80px;}
	table.W96 th, table.W95 td{width: 95px;}
	table.W115 th, table.W115 td{width: 115px;}
	table.Pl30 th, table.Pl30 td{padding-left: 30px;}
	table.Tab tr.Trbg1{background: #F8F8F8;}
	table.Tab tr.Trbg2{background: #E6E4E7;}
	table.Tab tr.Trbg3{background: #FFFC00;}
	
	table.W160 th{width: 160px;}
	table.W240 th{width: 240px;}
	
    table.Tab b,table.Table b{
	display: block;
	float:left;
	white-space: nowrap;
	font-weight: normal;
}
    table.Tab b{padding-left: 10px;}
    table.Table b{padding-right: 20px;}
	table.Tab p{padding:0 10px;text-align: left;}
	
 	table.Tab1 {
    line-height: 22px;
	border:0;
	width: 600px;
}
    table.Tab1 td{padding-bottom:10px;}

    table.Tab2{
    line-height: 22px;
	border:0;
}
    table.Tab2 td,table.Tab2 th{padding-bottom:10px;vertical-align: top;}

	.InputBorder{
	border:1px solid #7F9DB9;
	padding:3px 5px 0;
	font-size:12px;
}
	.windowC01{
	background: url(images/bg03_100618.gif) repeat-y;
	width: 542px;
	padding-right:4px;
	line-height:24px;
}
	.windowC02{
	background: url(images/bg04_100618.gif) repeat-y;
	width: 378px;
	padding-right:2px;
	line-height:20px;
}
	.windowC03{
	background: url(images/bg15_110331.gif) repeat-y;
	width: 692px;
	padding-right:4px;
	line-height:24px;
}
	.windowT01,.windowT02,.windowT03{
	background: url(images/bg02_100618.gif) no-repeat;
	padding:8px 20px 0 0;
	height:24px;
	text-align: right;
}
	.windowB01,.windowB02,.windowB03{
	background: url(images/bg02_100618.gif) no-repeat;
	height:8px;
}
    .windowB01{background-position: 0 -36px;}
    .windowT02{background-position: 0 -62px;}
    .windowB02{background-position: 0 -98px;}
	.windowT03{background-position: 0 -155px;}
    .windowB03{background-position: 0 -191px;}
	
	.windowText1,.windowText2{
	background: url(images/bg05_100618.gif) no-repeat bottom;
	width:90%;
	margin:0 auto;
}
   .windowText1{padding:0 10px 20px;}
   .windowText2{background-color: #F2F9FF;padding:10px 10px 20px;}
   .windowText{	height:500px;overflow: auto;}

    .windowText3{overflow: auto;}

    .ErrorLayout {
	width: 783px;
	height:100%;
	margin: 0 auto;
}
    .ErrorText {
	width: 703px;
	height: 280px;
	background: url(images/bg02_100618.jpg) no-repeat;
	margin-top: -150px;
	padding: 20px 40px 0;
	position:absolute;
	top:50%;
	line-height:22px;
}
    .ErrorText1 {
	width: 300px;
	display: inline-block;
}
	.IndexBg{
	width: 709px;
	height: 467px;
	background: url(images/bg03_100618.jpg) no-repeat;
	margin-top: -249px;
	padding: 31px 35px 0 40px;
	position:absolute;
	top:50%;
}
    .IndexLayout {
	width: 784px;
	height:100%;
	margin: 0 auto;
}
   ul.IndexText{
   width: 281px;
   height: 160px;
   background: url(images/bg07_100618.gif) no-repeat;
   padding:11px 15px 0;
   margin-bottom:5px;
}
   ul.IndexText li{
   line-height:22px;
   background: url(images/bg07_100618.gif) no-repeat -303px -172px;
   padding-left:14px;
}
   ul.IndexText li.more{
   background: none;
   text-align:right;
}
   ul.IndexText li.title{
	background: none;
	font-size: 14px;
	font-weight: bold;
	padding-left:0;
}
   ul.IndexPic,ul.IndexPic1{ width:370px;}
   ul.IndexPic li, ul.IndexPic1 li{
   line-height:25px;
   height:87px;
   text-align:center;
   float:left;
}
   ul.IndexPic li{width:64px;  padding-left:10px;}
   ul.IndexPic1 li{width:85px; padding-left:7px;}
   
   ul.IndexPic li a:link,ul.IndexPic li a:visited,ul.IndexPic1 li a:link,ul.IndexPic1 li a:visited{ text-decoration: none;}

    .IndexWindows1 {
	width:20px;
	height:10px;
	position: relative;
}
    .IndexWindows2{
	position: absolute;
	z-index:1;
	background: url(images/bg07_100618.gif) no-repeat 0 -174px;
	width:269px;
	height:166px;
	padding:10px 12px;
	//left:40px;
	top: 28px;
	line-height:22px;
}
	.TextLayout,.TextLayout1{
	padding:10px 15px;
	line-height:22px;
	border:1px solid #B3B5B8;
	border-top:none;
}
    .TextLayout{width:942px;}

	.BlogBg{
	width: 358px;
	height: 245px;
	background: url(images/bg05_100618.jpg) no-repeat;
	margin: 0 auto;
	padding: 47px 0 0 333px;
	line-height:22px;
}
    .BlogLayout{
	padding-top:180px;
	background: url(images/bg04_100618.jpg) repeat-x;
}
  	.LmLayoutT{
	background: url(images/bg02_100618.gif) no-repeat 0 -116px;
	width: 480px;
	margin-top:10px;
}
   	.LmLayoutB{
	border:1px solid #CCC;
	border-top:none;
	width: 458px;
	padding:10px;
	line-height:22px;
}
   	.LmTitle01,.LmTitle02,.LmTitle03,.LmTitle04,.LmTitle05,.LmTitle06,.LmTitle07{
	background: url(images/bg06_100618.gif) no-repeat;
	padding:5px 0 0 40px;
	height:23px;
	font-size:14px;
	line-height:24px;
}
   	.LmTitle08,.LmTitle09,.LmTitle10,.LmTitle11,.LmTitle12{
	background: url(images/bg06_100618.gif) no-repeat;
	height:20px;
}
   	.LmTitle02{ background-position: 0 -31px;}
   	.LmTitle03{ background-position: 0 -61px;}
	.LmTitle04{ background-position: 0 -89px;}
	.LmTitle05{ background-position: 0 -119px;}
	.LmTitle06{ background-position: 0 -147px;}
	.LmTitle07{ background-position: 0 -178px;}
	.LmTitle08{ background-position: 0 -210px;padding:5px 0 0 33px;}
	.LmTitle09{ background-position: 0 -235px;padding:5px 0 0 32px;}
	.LmTitle10{ background-position: 0 -259px;padding:5px 0 0 32px;}
	.LmTitle11{ background-position: 0 -280px;padding:5px 0 0 34px;}
	.LmTitle12{ background-position: 0 -311px;padding:5px 0 0 30px;}

	.XxkLayoutR{
	width: 296px;
	background: url(images/bg08_100618.gif) no-repeat;
	line-height:22px;
	float:right;
}
	.XxkLayoutR1{
	border:1px solid #CECBC6;
	border-top:none;
	padding:10px;
}
	.XxkLayoutL{
	width: 670px;
	height:320px;
	float:left;
	overflow: auto;
	padding-top:10px;
}
    ul.XxkLabel li{
	width: 101px;
	text-align: center;
	margin-right:2px;
	float: left;
}
    ul.XxkLabel li a{
	background: url(images/bg09_100618.gif) no-repeat 0 -30px;
	text-decoration: none;
	display: block;
	padding-top: 9px;
	height: 21px;
}
    ul.XxkLabel li a:hover {text-decoration:none;}

    ul.XxkLabel li.up a{
	background: url(images/bg09_100618.gif) no-repeat;
	color:#FFF;
}
	.XxkText{
	width: 948px;
	margin: 0 auto 10px;
	border:1px solid #909090;
	padding:10px 12px;
	clear:both;
	line-height:22px;
}
	.XxkText1,.XxkText3{
	width: 974px;
	line-height:22px;
}
    .XxkText1{border:1px solid #8CA2D4;}
    .XxkText3{border:1px solid #B5B6B0;}
	
	.XxkText2{
	width: 944px;
	background: #E6F0FC;
	padding:5px 15px;
	border-bottom:1px solid #8CA2D4;
}
    .XxkText4{
	width: 944px;
	background: #F1F1F1;
	padding:5px 15px;
	border-bottom:1px solid #8CA2D4;
}
	.XxkText5{background: #EDF2F8;padding:5px 10px;}
	
	.XxkFxt{
	position: absolute;
	border:2px solid #3C7AD6;
	background:#FFF;
	width:524px;
	height:420px;
	padding:20px 38px;
	line-height:22px;
	top:140px;
	right:260px;
	z-index: 1;
}
	.XxkXg,.XxkXg1{
	position: absolute;
	border:1px solid #8CA2D4;
	background:#FFF url(images/bg12_100618.gif) repeat-x;
	width:240px;
	padding:5px 15px 10px;
	line-height:22px;
	z-index: 1;
}
   .XxkXg{top:22px;left:120px;height:110px;}
   .XxkXg1{	top:37px;left:220px;}
   
   .XxkTeacher{
	position: absolute;
	border:1px solid #8CA2D4;
	background:#FFF;
	width:620px;
	height:400px;
	padding:10px;
	line-height:22px;
	z-index:2;
	top:144px;
	left:69px;
}
   .XxkTeacher1{
	width:620px;
	height:360px;
	overflow: auto;
}
	ul.XxkList li{
	line-height:20px;
	width:75px;
	float:left;
	margin-bottom:5px;
} 
   .fieldset{
   border:1px solid #A5ACB2;
   padding:0 10px;
   margin-bottom: 10px;
   display:block;
}
   .fieldset legend{ padding:0 10px;}

    input.btn{
    width:98px;
	height: 24px;
	background: url(images/bg10_100618.gif) repeat-x;
	+padding-top: 2px;
	text-align: center;
	border:0 none;
	margin-left:8px;
	cursor:pointer;
}
   .input-border{
	padding: 2px 4px;
	border: 1px double #A5ACB2;
	font-size:12px;
	line-height:20px;
}
	.border_box{
	font-size:12px;
	overflow: auto;
	vertical-align: top;
	border: 1px double #A5ACB2;
	padding:3px 5px 0;
	line-height:16px;
}
    h3{
	height:9px;
	background: url(images/bg11_100618.gif) no-repeat;
	font: 0px/0px sans-serif;
}
    table.Table{border-collapse:collapse;}
    table.Table td,table.Table th{
	padding-top:5px;
	vertical-align: top;
}
    .border_Tab td,.border_Tab th {	border:1px solid #B5B5B5;}
	.noborder_Tab td,.noborder_Tab th {	border:none;}

	.position{position: relative;}

	.Bgblue{
	background-color: #E6F0FC;
	display: inline-block;
	padding:3px 10px 0;
	margin:0 5px 5px;
	width:40px;
	clear:both;
	text-align: center;
}
	.zyfx_Bgblue{
	background-color: #AADFFE;
	display: inline-block;
	padding:0 10px;
	line-height: 25px;
}
    .zyfx_Bgblue_Text{
	display: inline-block;
	padding:0 12px;
	width:520px;
}
    .zyfx_Bgblue1{background: #EDF2F8;padding:5px 10px;}

    .zyfx_LmLayout{
	padding:10px 5px 0;
	border:1px solid #B8B5B0;
	border-bottom:none;
	height:29px;
}
    .zyfx_TextLayout{
	border:1px solid #B8B5B0;
	border-top:none;
	padding:7px 10px 0;
	width:217px;
	height:320px;
}
    .zyfx_TextLayout1{
	border:1px solid #B8B5B0;
	padding:10px;
	width:215px;
	float:right;
}
    .zyfx_ListLayout{
	border:1px dashed #7F9DB9;
	padding:10px 0 10px 10px;
}
    ul.zyfx_List {width:640px;}
    ul.zyfx_List li{
	width:115px;
	height:60px;
	line-height:18px;
	padding-right:13px;
	padding-top:5px;
	vertical-align:top;
	float:left;
}
    ul.zyfx_List li.pic{width:76px;padding-right:8px;}

    .zyfx_htWindows1{
	background: url(images/bg13_110331.gif) no-repeat;
	padding:12px 7px 7px 0;
	width:109px;
	height:102px;
}
    .zyfx_htWindows2{
	background: url(images/bg13_110331.gif) no-repeat 0 -133px;
	padding:12px 7px 7px 0;
	width:109px;
	height:70px;
}
    .zyfx_htWindows3{
	background: url(images/bg13_110331.gif) no-repeat 0 -231px;
	padding:12px 17px 7px 10px;
	width:233px;
	height:80px;
}
    ul.zyfx_htList li{
	width:79px;
	height:18px;
	padding:3px 15px;
	line-height:18px;
}
    ul.zyfx_htList li.bg{background: url(images/bg13_110331.gif) no-repeat -151px -133px;}

    .zyfx_htBgxian{background: url(images/bg14_110331.gif) repeat-y 50% 0;}
	
	.xyhd_Bgxian{background: url(images/bg14_110331.gif) repeat-y 35% 0;}

	.xyhd_list1 li{
	width:90px;
	float:left;
	line-height:21px;
	padding-left:25px;
}
	.xyhd_list2 li{
	width:170px;
	height:23px;
	float:left;
	padding-left:15px;
	line-height:22px;
}
    .xyhd_list2 li.text01{width:310px;}

    .xfpb_layoutL{
	width:105px;
	text-align:center;
}
    .xfpb_layoutR{
	width:838px;
	border-left:1px solid #B5B5B5;
	padding-left:23px;
	float:right;
}
    .htgl_layoutL{
	width:125px;
	text-align:center;
}
    .htgl_layoutR{
	width:826px;
	min-height:480px;
	_height:480px;
	border-left:1px solid #B5B5B5;
	padding-left:15px;
	float:right;
}
    .htgl_list li{
	width:120px;
	float:left;
	padding-top:5px;
	line-height:20px;
}
    .htgl_title_layout{
	width:730px;
	background-color: #E6F0FC;
	border:1px solid #8CA2D4;
	padding:8px 11px;
	clear:both;
}
    .htgl_text_layout{
	width:730px;
	border:1px solid #8CA2D4;
	border-top:none;
	padding:10px 11px;
}
    .htgl_js_layout{
	width:826px;
	height:400px;
	overflow: auto;	
}
    ul.htgl_js_list li{
	width:780px;
	padding:5px 0 5px 24px;
	line-height:20px;
}
    ul.htgl_js_list li.bg{background-color: #F8F8F8;}
    ul.htgl_js_list li ul li{
	width:150px;
	padding:5px 0 0 24px;
	float:left;
}
    .pjxt_pic{
	width:200px;
	height:80px;
	background: url(images/bg14_110331.gif) repeat-y 10px 0;
	padding-left:20px;
	line-height:22px;
	float:right;
}
	.thpj_bg{background: url(images/bg14_110331.gif) repeat-y 230px 0;}

    .ziyuan_layout{
	width:970px;
	background: #f5f7f9;
	border-top:1px solid #b9bfc8;
	margin:0 auto;
	padding:0 15px;
}
    .ziyuan_layoutL{width:750px;}
    .ziyuan_layoutR{
	width:204px;
	background: #fff;
	border:1px solid #dfe3e7;
	float:right;
	margin:10px 0;
}
    .ziyuan_nav{
	width:555px;
	height:48px;
	background: #fff url(images/bg16_130312.gif) no-repeat -125px -70px;
	padding:10px 15px 0 55px;
	margin-bottom:10px;
}
    .ziyuan_search_layout{
	width:310px;
	height:65px;
	float:right;
}
    .ziyuan_search_an_layou{
	z-index: 9;
	margin-bottom:-5px;
	position: relative;
}
	.ziyuan_search_an{
	width:54px;
	height:18px;
	background: url(images/bg16_130312.gif) no-repeat;
	text-align: center;
	line-height:20px;
	font-size:12px;
	padding-top:3px;
	display: inline-block;
	margin-right:10px;
	color:#fff;
}
    a.ziyuan_search_an,a.ziyuan_search_an:visited{color:#fff;}
    a.ziyuan_search_an:hover,a.ziyuan_search_an:active{color:yellow;}

    .ziyuan_search{
	width:145px;
	height:18px;
    background: url(images/bg16_130312.gif) no-repeat 0 -24px;
	border:none;
	padding:5px 10px;
}
    .ziyuan_gonggao{
	width:178px;
	height:23px;
    background: #f2f9fe;
	border:1px solid #a9ccde;
	font-weight:bold;
	color:#5581a0;
	padding:4px 0 0 12px;
	margin:4px 6px 0;
}
    .ziyuan_lable_layout{
	width:194px;
	height:31px;
    background: url(images/bg16_130312.gif) repeat-x 0 -115px;
	padding-left:10px;
	margin:10px 0;
}
    .ziyuan_lable_layout ul li{
	width:91px;
	height:24px;
    background: url(images/bg16_130312.gif) no-repeat 0 -84px;
	text-align:center;
	padding-top:7px;
	font-weight:bold;
	color:#767f88;
	float:left;
}
    .ziyuan_lable_layout ul li a{color:#767f88;}
	.ziyuan_lable_layout ul li.crumb{background-position:0 -53px;color:#767f88;}
	.ziyuan_lable_layout ul li.crumb a{color:#5581a0;}
	
    .ziyuan_content_layout{min-height:405px;}
    .ziyuan_content01,.ziyuan_content02,.ziyuan_content03,.ziyuan_content04{
	 width:344px;
	 min-height:115px;
	 padding:10px 15px;
	 float:left;
}
    .ziyuan_content02{background:#f3f3f3;}
    .ziyuan_content03{background:#eaeef2;}
    .ziyuan_content04{background:#dfe3e7;}

    .ziyuan_xkzl_title,.ziyuan_hdzl_title{
     width:680px;
	 height:27px;
     background: url(images/bg01_130312.jpg) no-repeat;
	 padding:23px 0 0 70px;
	 font-weight:bold;
	 font-size:14px;
}
    .ziyuan_hdzl_title{background-position:0 -50px;}
 
    .ziyuan_xkzl_layout{
	 width:748px;
	 border:1px solid #acb2b8;
	 border-top:none;
     background:#fff;
	 margin-bottom:10px;
}
    .ziyuan_text_bg01,.ziyuan_text_bg02{
	 height:20px;
     background:#f5f7f9;
	 padding:10px 15px 5px;
	 font-weight:bold;
}
    .ziyuan_text_bg02{background:#eaedf2;}

    .ziyuan_xkzl_text{
     border-bottom:1px solid #75787c;
     padding:0 5px 0 2px;
     margin-bottom:10px;
}
    .ziyuan_hdzl_list li{
	width:152px;
	height:160px;
    padding:0 10px;
	float:left;
}
    .ziyuan_hdzl_list li p{line-height:18px;padding-top:5px;}

    .ziyuan_subpage_layout{
	 width:968px;
	 border:1px solid #acb2b8;
	 border-top:none;
     background:#fff;
	 margin-bottom:10px;
}
    .ziyuan_hdzl_layoutR{
	 width:520px;
	 height:570px;
	 float:right;
}
    .ziyuan_hdzl_layoutL{
	 width:448px;
	 height:570px;
}
    .ziyuan_hdzl_title01,.ziyuan_hdzl_title02{
     width:380px;
	 height:24px;
     background: url(images/bg01_130312.jpg) no-repeat 0 -100px;;
	 padding:7px 0 0 40px;
	 font-weight:bold;
	 margin-bottom:10px;
}
    .ziyuan_hdzl_title02{ background-position:0 -132px;}