@charset "utf-8";
	.zyxt_search{ padding:20px 16px; color:#000;}

	.zyxt_homeR{
	width:240px;
	padding-top:35px;
	float:right;
}
	.zyxt_homeR h1{
	width:222px;
	height:23px;
	font-size:12px;
	font-weight:bold;
	color:#5f96ba;
	padding:2px 6px 0 12px;
	background-color:#e1e8ef;
}
	.zyxt_homeR h1 a{float:right;}

	.zyxt_homeR ul{
	width:240px;
	height:270px;
	background-color:#fafafa;
	margin:0 auto 10px;
}
	.zyxt_homeR ul li{ 
	width:220px;
	position: relative;
	padding:6px 5px 0;
	margin:0 5px;
}
	.zyxt_homeR ul li .f_right{ 
	width:40px;
	display:inline-block;
	text-align: right;
}
	.zyxt_homeR ul li .font-blue{ font-weight:bold;}
	.zyxt_homeR ul li:first-child{
	border-bottom:1px solid #ececec;
	padding:15px 5px 2px;
	margin-bottom:3px;
}
	.zyxt_homeR ul li p.number{
	width:204px;
	padding:5px 8px;
	border:1px solid #0d799b; 
	background-color:#edfaff;
	color:#8d8c8c;
	position:absolute;
    right:5px;
	top:28px;
	z-index:9999;
}
	.zyxt_homeL{
	width:732px;
	color:#000;
	padding:0 12px 0 16px;
}
	.zyxt_homeL .nextpage { text-align:right; clear: none;}

	.zyxt_home_dongtaiT {
	width:732px;
	height:36px;
	margin-bottom:-1px;
}
	.zyxt_home_dongtaiT ul li{
	width:109px;
	height:26px;
	font-size:14px;
	padding-top:10px;
	text-align:center;
	float:left;
}
	.zyxt_home_dongtaiT ul li.crumb{font-weight:bold;background:url(images/bg16_131230.png) no-repeat;}

	.zyxt_home_dongtaiB {
	width:700px;
	padding:12px 15px 5px;
	border:1px solid #e0e3e5; 
	background-color:#fefefe;
	color:#000;
	margin-bottom:20px;
}
	.zyxt_home_dongtaiB ul {height:310px;}
	.zyxt_home_dongtaiB ul li {padding:8px 0;}
	.zyxt_home_dongtaiB ul b {color:#8d8c8c; float:right; font-weight:normal; margin:0 5px 0 10px;}
	
	.zyxt_home_tjzy {
	font-size:14px;
	font-weight:bold;
	color:#000;
	border-bottom:1px solid #cfcfcf;
	padding:0 2px 4px;
	margin-bottom:5px;
}
    .zyxt_homeL ul.sp {height:380px;}
    .zyxt_homeL ul.sp li {
	width:160px;
	height:158px;
	float:left;
	border:1px solid #b0b0b0;
	padding-top:15px;
	margin:0 2px 23px 15px;
}
    .zyxt_homeL ul.sp li p.one {border-bottom:1px solid #b0b0b0; height:105px;}
	.zyxt_homeL ul.sp li p.two { padding:5px 5px 0;}
	
    .zyxt_homeL ul.wb{
	width:702px;
	height:380px;
	margin:0 auto;
}
    .zyxt_homeL ul.wb li{line-height: 26px;padding:10px 5px 10px 0;}
    .zyxt_homeL ul.wb b{
	width:84px;
	display:inline-block;
	float:right;
	color:#8d8c8c;
	font-weight:normal;
}
    .zyxt_sczy { padding-bottom:10px;}
	.zyxt_sczy select { width:100px; margin-right:5px;}
	.zyxt_sczy p {padding-bottom:15px;}
	.zyxt_sczy .ico26{margin:0 5px 0 0;}

    .zyxt_sczy1 { padding-bottom:10px;}
	.zyxt_sczy1 select {width:85px; margin-right:5px;}
	.zyxt_sczy1 select.w220 {width:220px; margin-right:5px;}
	.zyxt_sczy1 p {padding-bottom:15px;}
	.zyxt_sczy1 .ico26{margin:0 5px 0 0;}

	.zyxt_float_fxzy{padding:10px;}	
	.zyxt_float_fxzy ul{
	width:450px;
	height:165px;
	border:1px solid #9c9c9c;
	overflow:auto;
	margin:10px 0;
	padding:10px 0 5px;
}
	.zyxt_float_fxzy ul li{padding:0 15px 3px; width:75px; float:left; }
	.zyxt_float_fxzy ul li a.ico34{float:right;}

	.subpage_head .lm_ico03{ vertical-align:middle;}
	
	.zyxt_float_jubao .public_windows{width:640px;}
	.zyxt_float_jubao div.height{height:350px;overflow: auto;margin:8px 0;}

	.zyxt_search_layout{
	width:1000px;
	min-height:300px;
	background:url(images/bg22_131230.png) repeat-y;
	margin:0 auto;
}
	.zyxt_searchT{border-bottom:1px solid #34a4c6;padding:20px 30px;background-color:#f1f1f1;}
	.zyxt_searchT p.number{padding-top:20px;color:#257aa7; margin-bottom:-13px;}
	.zyxt_searchL{width:170px;background-color:#cbe6f9; min-height:200px; padding-bottom:10px;}
	.zyxt_searchL h1{
	font-size:14px;
	color:#000; 
	border-bottom:1px solid #eaf5fd;
	padding-top:15px;
	height:28px;
	text-align:center;
}
	.zyxt_searchL h2{
	font-size:12px;
	color:#fff100;
	border-bottom:1px solid #eaf5fd;
	background-color:#34a4c6;
	padding:15px 6px 0;
	height:28px;
	text-align:left;
}
	.zyxt_searchL ul {border-bottom:1px solid #eaf5fd;}
	.zyxt_searchL ul li{width:118px;padding:8px 16px 2px 36px; position:relative;}
	.zyxt_searchL ul li b{position: absolute; top:8px; left:0;}
	.zyxt_searchL ul li span{ float:right;}
	.zyxt_searchL ul li.crumb{ background-color:#b7e4f2; font-weight:bold;}

	.zyxt_searchR {width:780px;	padding:20px 25px 0 0;float:right;}
	.zyxt_searchR h6 {margin:10px auto 4px;}

	.zyxt_search_number {border-bottom:1px solid #cfcfcf;padding:10px 0 5px; margin-bottom:10px; color:#257aa7;}
	.zyxt_search_gaoji {
	width:938px;
	border:1px solid #cfcfcf;
	padding-top:10px;
	margin:10px 0;
}
	.zyxt_search_gaoji p {padding-bottom:5px;}
    .zyxt_search_gaoji table tr.blue{background-color:#d3e4eb; }
	.zyxt_search_gaoji table th { text-align:center; color:#8d8c8c; width:118px;}
	.zyxt_search_gaoji table td { width:820px;}
    .zyxt_search_gaoji table td ul li {
	display:inline-table;
	margin:0 15px 10px 0;
	color:#000;
}
    .zyxt_search_gaoji table td ul li.more {
	background-color:#d3e4eb;
	color:#5a8ca0;
}
    .zyxt_search_gaoji table td ul li.more a:link,.zyxt_search_gaoji table td ul li.more a:visited{color:#5a8ca0;padding:0 6px;}
    .zyxt_search_gaoji table td ul li.more a:hover,.zyxt_search_gaoji table td ul li.more a:active{color:#2682E7; }
	.zyxt_search_gaoji table td ul li a:link,.zyxt_search_gaoji table td ul li a:visited{color:#000;}
    .zyxt_search_gaoji table td ul li a:hover,.zyxt_search_gaoji table td ul li a:active{color:#3297a3; }
	.zyxt_search_gaoji table td ul li a.font-blue {color:#3297a3;}

	.zyxt_search_gaoji div.yixuan {
	width:910px;
	border-bottom:1px dashed #cedce3;
	padding:5px 10px 10px;
	margin:0 auto 10px;
	color:#000;
}
    .zyxt_search_gaoji div.yixuan ul li{
	border:1px solid #9c9c9c;
	margin:5px 15px 10px 0;
	padding:3px 0 0 5px;
	display:inline-table;
	line-height:16px;
	height:18px;
	color:#8d8c8c;
	background-color:#fff;
}
    .zyxt_qbzy .subpage_lm {margin:20px 0 ;}

	.zyxt_add{padding:10px 0;}
	.zyxt_add p{padding-top:10px;}

	.zyxt_jifen{border-bottom:1px solid #34a4c6;padding:50px 25px 25px;background-color:#f1f1f1;}

	.zyxt_jifen_nr{padding:0 20px;background-color:#fff;min-height:190px; color:#000;}
	.zyxt_jifen_nrL{width:151px; position:relative;padding-top:144px;}
	.zyxt_jifen_nrL div.pic{width:135px;border:1px solid #a3b6c4; padding:7px;background-color:#fff; position:absolute;top:-20px;left:0;font: 0px/0px sans-serif;}
	.zyxt_jifen_nrR{width:720px;padding-top:20px; float:right; font-size:14px;}
	.zyxt_jifen_nrR p{padding-top:10px;}

	.zyxt_jifen_info li{width:300px;padding:6px 5px 0;}
	.zyxt_jifen_info li span{ float:right;}
	.zyxt_jifen_info li.crumb{border-bottom:1px solid #c0c0c0;padding:20px 5px 3px; font-weight:bold;}

	.zyxt_float_jifen .public_windows{width:570px;}
	.zyxt_float_jifen div.xiangqing{
	width:546px;
	height:310px;
	background: url(images/bg23_131230.png) no-repeat 0 30px;
	margin:0 auto;
}
	.zyxt_float_jifen div.xiangqing table th{ font-size:12px;}
	.zyxt_float_jifen div.xiangqing table td{ font-size:12px;padding:6px 0 3px;}
	.zyxt_float_jifen div.xiangqing p.one{ height:30px; color:#000;}
	.zyxt_float_jifen div.xiangqing ul{
	width:540px;
	height:34px;
}
	.zyxt_float_jifen div.xiangqing ul li{
	width:45px;
	height:24px;
	text-align:center;
	float:left;
}
	.zyxt_float_jifen .nextpage{text-align:right; padding-right:16px;}
	.zyxt_float_jifen .font-darkblue{ font-weight:bold;}

	.zyxt_zyxq {width:890px;border:1px solid #9c9c9c;padding:20px 25px 2px; margin-top:20px;color:#000;}
	.zyxt_zyxq h1 {font-size:14px; height:45px;}
	.zyxt_zyxq p{ padding-bottom:10px;}
	.zyxt_zyxq p.ico {color:#8d8c8c;}
	.zyxt_zyxq p.ico a{margin-right:20px;}
	.zyxt_zyxq p.ico a span{ margin:0 5px 5px;}
	.zyxt_zyxq span{ display:inline-block;}
	.zyxt_zyxq b{ display:inline-block;wdith:70px;}
	.zyxt_zyxq .ico11,.zyxt_zyxq .ico76{margin:0 5px 6px;}
	.zyxt_zyxq .ico_more{margin:0 0 2px 5px;}
	.zyxt_zyxq .w220 select,.zyxt_zyxq .w160 select{width:75px;}
	.zyxt_zyxq textarea.w880{ height:240px; color:#000; margin-bottom:15px;}
	.zyxt_zyxq h1 input[type=text] {width:510px; height:20px; line-height:20px; color:#000;font-size:14px; font-weight:bold;}

	.zyxt_zyxq .subpage_lm{ margin:0 0 20px;}
	.zyxt_zyxq .subpage_lm ul li{margin-left:5px;margin-right:30px;}

	.zyxt_zyxqL {width:578px; height:480px; margin-bottom:15px;}
	.zyxt_zyxqR {width:270px; height:480px; float:right;}
	.zyxt_zyxqR p{min-height:26px;padding-bottom:4px;}
	.zyxt_zyxqR p.info {padding-top:15px;padding-bottom:0;}
	.zyxt_zyxqR p select{ width:80px;}
	.zyxt_zyxqR div.height{ width:270px; height:292px; overflow:auto;}
	.zyxt_zyxqR div.height textarea{width:260px; height:282px; margin-bottom:0;}

	.zyxt_zyxq_xgzr{
	width: 780px;
	height: 175px;
	background: url(images/bg25_131230.png) no-repeat center top;
	position:relative;
	padding:0 55px;
}
	.zyxt_zyxq_xgzr p.left{ position:absolute;top:0; left:0;}
    .zyxt_zyxq_xgzr p.right{ position:absolute;top:0; right:0;}
	.zyxt_zyxq_xgzr .an_left,.zyxt_zyxq_xgzr .an_right{
	width:45px;
	height:152px;
	background: url(images/bg24_131230.png) no-repeat;
	display: inline-block;
	vertical-align:middle;
}
	.zyxt_zyxq_xgzr .an_right{background-position:-45px 0;}
	.zyxt_zyxq_xgzr a:hover .an_left{background-position:-90px 0;}
	.zyxt_zyxq_xgzr a:hover .an_right{background-position:-135px 0;}

    .zyxt_zyxq_xgzr ul.one{width:780px;height:135px;padding-top:20px;}
    .zyxt_zyxq_xgzr ul.one li{ width:360px; padding:0 15px 7px; float:left;}
	.zyxt_zyxq_xgzr ul.one li span{ margin:0 5px 6px;}

    .zyxt_zyxq_xgzr ul.two{width:776px;height:148px;padding-top:12px; margin:0 auto;}
    .zyxt_zyxq_xgzr ul.two li{ width:160px; padding:0 17px; float:left;line-height:18px;}

    .zyxt_zyxq_xgzr ul.three{width:780px;height:142px;padding-top:8px; margin:0 auto;}
    .zyxt_zyxq_xgzr ul.three li{ width:156px; float:left; text-align:center;}

	.zyxt_zyxq_pl{
	width:940px;
	padding-top:30px;
	word-wrap:break-word;
	word-break:break-all;
	white-space:normal;
}
    .zyxt_zyxq_pl ul.one {height:30px;border-bottom:1px solid #cfcfcf;margin-bottom:15px;}
    .zyxt_zyxq_pl ul.one li{
	padding:0 20px;
	float:left;
	height:25px;
	margin-bottom:1px;
	border-bottom:6px solid #3a91bf;
}
    .zyxt_zyxq_pl ul.one li strong {color:#3a91bf;font-size:14px;font-weight:bold; display:inline-block; margin-right:20px;}

    .zyxt_zyxq_pl ul.two li{width:940px;border-top:1px dashed #cedce3; color:#000; padding-top:5px;}
    .zyxt_zyxq_pl ul.two li p {padding-bottom:4px;}
	.zyxt_zyxq_pl ul.two li p.f_right b {display:inline-block; width:60px; font-weight:normal;}
	.zyxt_zyxq_pl ul.two li .ico41{margin:0 5px 5px;}
	.zyxt_zyxq_pl ul.two li .ico72{margin:5px 5px 0;}
	.zyxt_zyxq_pl ul.two li:first-child { border-top:none;}
 
    .zyxt_zyxq_pl div.fabiao{width:940px;padding:5px 0 1px;}
	.zyxt_zyxq_pl div.fabiao textarea{width:930px; height:75px;}
	.zyxt_zyxq_pl div.fabiao .t_r{padding-top:10px;}
	.zyxt_zyxq_pl div.fabiao .an_small{ margin-right:-4px;}
	.zyxt_zyxq_pl .nextpage{margin:10px 0 15px;}