@charset "utf-8";
    .yhqx_denglu_bg{background-color:#f2f2f2;}

    .yhqx_denglu{
	width:480px;
	height:100%;
	margin:0 auto;
}
    .yhqx_denglu div {
	width: 440px;
	height: 400px;
	background-color:#f2f2f2;
	margin-top: -210px;
	position:absolute;
	top:50%;
	padding:10px 20px;
	font:bold 18px/28px "微软雅黑","宋体";
}
    .yhqx_denglu p { margin-bottom:15px;}
	.yhqx_denglu p.text {
	padding-top:15px;
	width:391px;
	text-align:center;
	font-size:14px;
}
	.yhqx_denglu p.input {
	width:351px;
	height:36px;
	background: url(images/bg36_130705.png) no-repeat;
	padding:8px 20px 0;
	color:#fff;
}
	.yhqx_denglu p.input input[type=text],.yhqx_denglu p.input input[type=password]{
	width:250px;
	height:20px;
	border:none;
	background-color: transparent;
	padding-top:4px;
	font-size:14px;
	color:#fff;
}
	.yhqx_denglu_an {
	width:391px;
	height:41px;
	background: url(images/bg36_130705.png) no-repeat 0 -59px;
	padding-top:15px;
	text-align:center;
	font-size:22px;
	color:#fff;
	display:inline-block;
	margin-right:10px;
}
    a.yhqx_denglu_an:link,a.yhqx_denglu_an:visited{color:#fff;}
    a.yhqx_denglu_an:hover,a.yhqx_denglu_an:active{color:yellow;}

    p.jxpt_icon01 span{
	font-size:12px;
	font-weight:normal;
	float:right;
	padding:5px 20px 0 0;
}
    .yhqx_grxx_content{	padding:20px 30px 10px;}

    .yhqx_touxiang{
	width:135px;
	height:135px;
	padding:10px;
	background: url(images/bg37_130705.png) no-repeat;
}
    .yhqx_touxiangL{
	width:600px;
	height:600px;
	padding:20px;
}
    .yhqx_touxiangR{
	width:220px;
	padding-top:100px;
	float:right;
}
    .yhqx_content{background: url(images/bg34_130705.png) repeat-y;	}

    .yhqx_contentL{
	padding-top:20px;
	width:170px; 
	min-height:310px;
}
    .yhqx_contentL ul li{
	width:100px; 
	height:29px;
	background: url(images/bg35_130705.png) no-repeat;
	padding:9px 25px  0 45px;
	font-size:14px;
}
    .yhqx_contentL ul li.crumb{
	background-position:0 -38px;
	color:#fff;
}
    .yhqx_contentL ul li.crumb a:link,.yhqx_contentL ul li.crumb a:visited{color:#fff;}
    .yhqx_contentL ul li.crumb a:hover,.yhqx_contentL ul li.crumb a:active{color:yellow;}

	.yhqx_contentR{
	width:790px;
	min-height:300px;
	padding:25px 20px 10px 0;
	float:right;
}
    .yhqx_contentR div.content {
	padding:15px 0 10px;
	border-bottom: 1px dashed #c2c2c2;
	margin-bottom:10px;
}
	.yhqx_list li{
	width:80px;
	padding-bottom:5px;
	float:left;
}
 	.yhqx_zdzz{
	width:700px;
	min-height:300px;
	border:1px solid #d3d3d3;
	background: url(images/bg38_130705.png) repeat-y;
}
 	.yhqx_zdzzL{width:156px;padding-top:20px;}
    .yhqx_zdzzL ul li{
	width:156px; 
	height:29px;
	background: url(images/bg36_130705.png) no-repeat -179px -129px;
	padding-top:10px;
	text-align:center;
}
    .yhqx_zdzzL ul li.crumb{
 	background-position:0 -129px;
	font-weight:bold;
}
    .yhqx_zdzzR{width:510px; float:right;padding-top:20px;}

 	.yhqx_zdzz_name{padding-top:10px;}
 	.yhqx_zdzz_name ul li{
	border:1px solid #d1444c;
	margin:0 15px 5px 0;
	padding:3px 1px 0 7px;
	line-height:16px;
	height:18px;
	width:80px;
	display:inline-block
}
    .yhqx_zdzz_name ul li b{
	width:19px;
	height:19px;
	background: url(images/bg36_130705.png) no-repeat -372px -129px;
	vertical-align:middle;
	margin-top:-2px;
	float:right;
}
   .yhqx_bmgl div.left{
	width:230px;
	min-height:440px;
	float:left;
	margin:20px 0 20px 20px;
	padding:10px 10px 10px 15px;
	background-color:#e2e2e2;
}
   .yhqx_bmgl div.right{
	width:640px;
	min-height:440px;
	float:left;
	padding:20px 0 0 30px;
}
   .yhqx_bmgl div.auto{
	width:230px;
	height:360px;
	float:left;
	overflow: auto;
}
   .yhqx_bmgl div.one{
	width:50px;
	height:200px;
	padding-top:100px;
	float:left;
}
   .yhqx_bmgl div.two{
	width:230px;
	height:330px;
	float:left;
	margin-right:40px;
	padding:20px 0 20px 10px;
}
   .yhqx_bmgl div.content {
	width:228px;
	height:268px;
	border:1px solid #7f9db9;
	overflow: auto; 
}
   .yhqx_bmgl div.two p{height:30px;}
   .yhqx_bmgl div.content  ul li{padding:5px 15px 0 10px;}
   .yhqx_bmgl div.content  ul li img{float:right;}
   .yhqx_bmgl div.content  ul li.bg { background-color:#f4f4f4;}

   .yhqx_bmgl div.two .overflow{ height:250px; padding:10px 0;}